<<<<<<< HEAD
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> 菜鸟教程（runoob.com)</title>
<style>
img { 
  max-width:100%;
	height:auto;
}
</style>
</head>
<body>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> 菜鸟教程（runoob）</title>
<style>
#myImg
{
	border-radius:50px;
	cursor:pointer;
	transition:0.3s;
}

#myImg:hover{opacity:0.4;}

// the Modal (background)

.modal{
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.9);
}

//Modal Content(image)

.modal-content{
	margin:auto;
	display:block;
	width:80%;
	max-width:700px;
}

//CaptionText of Modal Image

#caption{
	margin:auto;
	display:block;
	width:80%;
	max-width:700px;
	text-align:center;
	color:#ccc;
	padding:10px 0;
	height:150px;
}

//add animation

.modal-content,#caption{
	animation-name:zoom;
animation-duration:0.6s;
}

@keyframes zoom{
	from{transform : scale(0.2)}
	to {transform:scale(1)}
}

//the close button

.close {
	position:absolute;
	top:15px;
	right:35px;
	color:#f1f1f1;
	font-size:40px;
	font-weight:bold;
	transition:0.3s;
}

.close:hover,
.close:focus{
	color:#bbb;
	text-decoration:none;
	cursor:pointer;
}

@media only screen and (max-width:700px){
	.modal-content{
		width:100%;
	}
}
</style>

</head>

<body>

<h2>图片</h2>
<p>......</p>
<br>
<p>.....</p>
<img id="myImg"  src="http://www....."
		alt="Northern  Lights, Norway" width="300" height"200">
		
		<!--The Modal-->
		<div id="myModal" class="modal">
		<span class="close">  </span>
		<img class="modal-content" id="img01">
		
		
		<div id="caption">  </div>
		
		</div>
		
		<script>
		
// get photo Modal

var img=document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

img.onclick = function (){
	modal.style.display = " block";
	modalImg.src = this.src;
	modalImg.alt = this.alt;
	captionText.innerHTML = this.alt;
}

var span = document.getElementsByClassName("close")[0];

span.onclick = funciton(){
	modal.style.display = " none";
}
</script>

</body>
</html>
	
=======
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> 菜鸟教程（runoob.com)</title>
<style>
img { 
  max-width:100%;
	height:auto;
}
</style>
</head>
<body>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title> 菜鸟教程（runoob）</title>
<style>
#myImg
{
	border-radius:50px;
	cursor:pointer;
	transition:0.3s;
}

#myImg:hover{opacity:0.4;}

// the Modal (background)

.modal{
	display:none;
	position:fixed;
	z-index:1;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.9);
}

//Modal Content(image)

.modal-content{
	margin:auto;
	display:block;
	width:80%;
	max-width:700px;
}

//CaptionText of Modal Image

#caption{
	margin:auto;
	display:block;
	width:80%;
	max-width:700px;
	text-align:center;
	color:#ccc;
	padding:10px 0;
	height:150px;
}

//add animation

.modal-content,#caption{
	animation-name:zoom;
animation-duration:0.6s;
}

@keyframes zoom{
	from{transform : scale(0.2)}
	to {transform:scale(1)}
}

//the close button

.close {
	position:absolute;
	top:15px;
	right:35px;
	color:#f1f1f1;
	font-size:40px;
	font-weight:bold;
	transition:0.3s;
}

.close:hover,
.close:focus{
	color:#bbb;
	text-decoration:none;
	cursor:pointer;
}

@media only screen and (max-width:700px){
	.modal-content{
		width:100%;
	}
}
</style>

</head>

<body>

<h2>图片</h2>
<p>......</p>
<br>
<p>.....</p>
<img id="myImg"  src="http://www....."
		alt="Northern  Lights, Norway" width="300" height"200">
		
		<!--The Modal-->
		<div id="myModal" class="modal">
		<span class="close">  </span>
		<img class="modal-content" id="img01">
		
		
		<div id="caption">  </div>
		
		</div>
		
		<script>
		
// get photo Modal

var img=document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");

img.onclick = function (){
	modal.style.display = " block";
	modalImg.src = this.src;
	modalImg.alt = this.alt;
	captionText.innerHTML = this.alt;
}

var span = document.getElementsByClassName("close")[0];

span.onclick = funciton(){
	modal.style.display = " none";
}
</script>

</body>
</html>
	
>>>>>>> 25f1d7ef0fcd19c255e5da2945c781ef75ccae46
